<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

  <body>
    <div id="app" class="container p-5 d-flex flex-column justify-content-center" style="height: 100%">
      <div class="row m-5">
        <div class="col-2"></div>
        <div class="col-8 d-flex flex-column justify-content-center align-items-center shadow rounded"
          style="padding: 12rem 8rem; background: hsl(0, 0%, 96%)">
          <h1 class="fw-bold mb-2" style="color: #991728; white-space: nowrap;">Restaurant Manager</h1>
          <p class="mb-5" style="font-size: .8em">contact us <a class="text"
              style="color: #ffa723">three_layers_pils@gmail.co.th</a></p>
          <form action="/admin/login" method="POST" class="w-100 needs-validation" name="login">
            <input class="form-control ps-4 py-3 rounded-pill mb-4" :class="{'border-danger text-danger': error}"
              type="text" placeholder="Username" name="username" @focus="error = false" required>
            <input class="form-control ps-4 py-3 rounded-pill mb-5" :class="{'border-danger text-danger': error}"
              type="password" placeholder="Password" name="password" @focus="error = false" required>
            <div class="input-group mb-5 d-flex justify-content-center">
              <input class="btn text-light px-5 py-3 fw-bold rounded-pill" style="background: #991728" type="submit" value="LOGIN">
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        error: JSON.parse(`<%- error %>`)
      },
      created() {
        document.getElementById('app').style.height = window.innerHeight + 'px'

        window.onresize = () => {
          document.getElementById('app').style.height = window.innerHeight + 'px'
        }
      }
    })
  </script>

</html>