body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
}

.clickable:hover {
  cursor: pointer;
}

.clickable:active {
  opacity: .5;
}

.number-notification {
  position: absolute;
  font-size: 10px;
  /* background: #de132a; */
  background: #0075ff;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -30%;
  right: -80%;
}

.payment-active:active {
  background: #ddd;
}

.btn.focus, .btn:focus, .form-control.focus, .form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.active, .btn:active {
  opacity: .9;
}

.btn.hover, .btn:hover {
  transform: scale(1.01);
  transition: .3s;
}

@keyframes slide-down {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

@keyframes slide-up {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}